#intupdatealert {
    display: none;
}

.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.my_border {
    border-right: 5px solid #2c3e50;
}

.my_button {
    background-color: #18bc9c !important;
}