#intupdatealert {
    display: none;
}

#second_alert {
    display: none;
}

.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.my_border {
    border-right: 5px solid #2c3e50;
}

.my_button {
    background-color: #18bc9c !important;
}

.login_logout {
    /*background-color: #2c3e50 !important;*/
    background-color: #33ADFF !important;
}

.start_tournament {
    background-color: #2c3e50 !important;
}

.choose_file {
    background-color: #FFB547 !important;
}

.row.vdivide [class*='col-']:not(:last-child):after {
    background: #2c3e50;
    width: 5px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

#vs {
    display: inline-block;
}
