<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>World of Chess</title>

    {% load staticfiles %}
    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <script type="text/javascript">
        DJANGO_STATIC_URL = '{{ STATIC_URL }}';
    </script>

    <!-- Custom CSS -->
    <link href="{% static "css/freelancer.css" %}" rel="stylesheet">
    <link href="{% static "css/chess_tournament.css" %}" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="alert alert-success" role="alert" id="second_alert"></div>
        <div class="alert alert-success" role="alert" id="intupdatealert"></div>


        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">World of Chess</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#enter_participants">Enter Participants</a>
                </li>
                <li class="page-scroll">
                    <a href="#leaderboard">Leaderboard</a>
                </li>
                <li class="page-scroll">
                    <a href="#start_tournament" id="label_start_tournament">Start Tournament</a>
                </li>


                {% if user.is_authenticated == False %}
                    <li class="page-scroll">
                        <a href="#results_so_far" id="label_results_so_far">Results So Far</a>
                    </li>
                {% endif %}


                {% if user.is_authenticated == False %}

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="http://www.jquery2dotnet.com" class="dropdown-toggle"
                               data-toggle="dropdown">Login<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="form" role="form" method="post" action="/login/"
                                                  accept-charset="UTF-8" id="login-nav">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input type="username" class="form-control" id="id_username"
                                                           name="username" placeholder="Username" autocomplete="off"
                                                           required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" id="id_password"
                                                           name="password" placeholder="Password" autocomplete="off"
                                                           required>
                                                </div>
                                                <button class="btn btn-primary btn-block login_logout" type="submit">Log
                                                    in
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="http://www.jquery2dotnet.com" class="dropdown-toggle"
                               data-toggle="dropdown">Hello, {{ user.get_username }}<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="form" role="form" action="/logout/" method="post"
                                                  accept-charset="UTF-8" id="logout-nav">
                                                {% csrf_token %}

                                                <button class="btn btn-primary btn-block login_logout" type="submit">
                                                    Logout
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>

                {% endif %}

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{% static "images/prof_picture.jpg" %}" alt="">

                <div class="intro-text">
                    <span class="name">Welcome to the Wargaming</span>
                    <span class="name">Chess Tournament</span>
                    <hr class="star-light">
                    <span class="skills">This is a test page for the Python Developer Job Position</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="enter_participants">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Enter Participants</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row vdivide">
            <div class="col-sm-6">
                <h3>Register a Chess Titan</h3>

                <form data-toggle="validator" role="form" method="POST" id="create_chess_player">
                    {% csrf_token %}
                    {% if user.is_authenticated == False %}

                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" name="name" readonly>
                        </div>
                        <div class="form-group">
                            <label for="inputSurname">Surname</label>
                            <input type="text" class="form-control" id="inputSurname" name="surname" readonly>
                        </div>

                        <div class="form-group">
                            <label for="inputCountry">Where is the chess player from?</label>
                            <select class="form-control" name="country" required>
                                {% for f in countries %}
                                    <option value={{ f.name }}>{{ f.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputEloRating">ELO Rating</label>
                            <input type="number" class="form-control" id="inputEloRating" name="elo_rating" min=1
                                   max="3000"
                                   readonly>

                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="alert alert-warning" role="alert">Ooops! You have to log in first!
                        </div>

                    {% else %}
                        <div class="form-group">
                            <div class="form-group">
                                <label for="inputName">Name</label>
                                <input type="text" class="form-control" id="inputName" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="inputSurname">Surname</label>
                                <input type="text" class="form-control" id="inputSurname" name="surname" required>
                            </div>

                            <div class="form-group">
                                <label for="inputCountry">Where is the chess player from?</label>
                                <select class="form-control" name="country" required>
                                    {% for f in countries %}
                                        <option value={{ f.name }}>{{ f.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputEloRating">ELO Rating</label>
                                <input type="number" class="form-control" id="inputEloRating" name="elo_rating" min=1
                                       max="3000"
                                       required>

                                <div class="help-block with-errors"></div>
                            </div>
                            <button type="submit" class="btn btn-primary my_button" id="register_button">Register
                            </button>
                        </div>
                    {% endif %}


                </form>
            </div>

            <div class="col-sm-6">


                <h3>... Hmmmm</h3>

                <h4>Let me upload the chess players using a .csv!!!</h4>


                {% if user.is_authenticated == False %}
                    <div class="alert alert-warning" role="alert">Yep! Same Here!
                    </div>

                {% else %}
                    <form method="POST" id="upload_multiple" action="/addmultiplechess/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Choose File</label>
                            <input type="file" name="fileUpload" class="filestyle choose_file"
                                   data-buttonName="btn-primary choose_file">
                        </div>
                        <button type="submit" class="btn btn-primary my_button" id="upload_file">Upload it</button>
                    </form>
                {% endif %}

                <h3>... Easy Peasy!</h3>
            </div>
        </div>

    </div>
</section>

<section id="leaderboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Leaderboard</h2>
                <hr class="star-primary">
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Results are being published from time to time</h3>
                <h4>Refresh the League and stay up to date!</h4>
            </div>
        </div>


        <!--refresh widget-->
        <div class="panel panel-default" data-url="/fetch-data">
            <div class="panel-heading"><a class="pull-right"><span class="fa fa-refresh" id="refresh_button"></span></a>
                Titans
            </div>
            <div class="panel-body panel-refresh">
                <table class="table table-striped" id="table_results">
                    <thead>
                    <tr>
                        {% for item in titles_table %}
                            <th>{{ item }}</th>
                        {% endfor %}
                    </tr>
                    </thead>

                    <tbody id="table_results_body">

                    {% for item in chess_players %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.surname }}</td>
                            <td>{{ item.country_name }}</td>
                            <td>{{ item.elo_rating }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--refresh widget-->
    </div>
</section>

<section id="start_tournament">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 id="tournament_title">Start Tournament</h2>
                <hr class="star-primary">
            </div>

            <div class="row" id="start_tournament_inner">

                {% if user.is_authenticated == False %}
                    <div class="col-lg-12 text-center">
                        <div class="alert alert-warning" role="alert">Oooops! Sorry, Only privileged users beyond this
                            point
                        </div>
                        <h4>Login and let the fun begin!</h4>
                    </div>
                {% else %}
                    <div class="col-lg-12 text-center" id="preliminary_text">
                        <h4>The tournament is about to start</h4>
                        <h4>Please note that by the time you hit proceed you will not be able to enter any more
                            participants
                        </h4>
                        <button type="submit" class="btn btn-primary my_button" id="proceed_tournament">Proceed</button>
                    </div>
                {% endif %}


            </div>


        </div>
    </div>
</section>

{% if user.is_authenticated == False %}
    <section id="results_so_far">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 id="tournament_title">Results So Far</h2>
                    <hr class="star-primary">
                </div>

                <div class="row col-lg-12 text-center" id="results_so_far_inner">

                    {% if rounds %}
                        {% for round_item in rounds %}
                            <div class=\"container\">
                                <div class="row text-center">
                                    <h1>Round {{ round_item.round }}</h1>

                                    <h3>Games of Round {{ round_item.round }}</h3>

                                    {% for game in games %}
                                        {% if game.round == round_item.round %}
                                            <div class="row">
                                                <div class="col-sm-3 text-center pagination-centered center-block">

                                                    <img src="{% static "images/knight_black.jpg" %}" width="50"
                                                         height="50" alt="SomeImage"/>

                                                    <h4>{{ game.chessPlayer1.name }}-{{ game.chessPlayer1.country_abbreviation }}</h4>
                                                </div>

                                                <div id="vs"
                                                     class="col-sm-3 text-center pagination-centered center-block">
                                                    <br>
                                                    <h4>Vs</h4>
                                                </div>

                                                <div class="col-sm-3 text-center pagination-centered center-block">
                                                    <img src="{% static "images/knight_white.jpg" %}" width="50"
                                                         height="50" alt="SomeImage"/>
                                                    <h4>{{ game.chessPlayer2.name }}-{{ game.chessPlayer2.country_abbreviation }}</h4>
                                                </div>


                                                <div class="col-sm-3 text-center pagination-centered center-block">
                                                    {% if game.result == 1 %}
                                                        <div class="alert alert-warning"
                                                             role="alert">{{ game.chessPlayer1.name }}-{{ game.chessPlayer1.country_abbreviation }}
                                                            Won
                                                        </div>
                                                    {% elif game.result == 0 %}
                                                        <div class="alert alert-warning"
                                                             role="alert">{{ game.chessPlayer1.name }}-{{ game.chessPlayer2.country_abbreviation }}
                                                            Won
                                                        </div>
                                                    {% else %}
                                                        <div class="alert alert-warning"
                                                             role="alert">Draw
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        {% endfor %}


                        {% if finalize %}
                            <div class="row" id="telos">
                                <div class="col-lg-12 text-center">
                                    <h3>End of the Tournament</h3>
                                    <br>
                                    <br>

                                    <h3>Thank you for choosing us today</h3>
                                    <br>
                                    <br>

                                    <h3>Updated Results are shown on the Leaderboard</h3>
                                    <br>
                                    <br>

                                    {% if results %}
                                        <button type="submit" class="btn btn-primary login_logout"
                                                onclick="getUpdatedTournament({{ results|length }})">Tournament Statistics
                                        </button>
                                    {% endif %}
                                    <br>

                                    <h3>We salut you with the following quote... Hope to see you again
                                        soon!</h3>

                                    <blockquote><p>When I found that idea I simply couldn’t resist playing it. And look,
                                        people talk about me as a player who doesn’t care about beauty. That’s not true.
                                        It’s simply that during the game each person sees beauty in different things. I
                                        like the beauty of the endgame, but I also get pleasure from finding ideas like
                                        those against Grischuk. - (on his game vs. Grischuk at the Tal Memorial 2012)&nbsp;
                                        - &nbsp; Magnus Carlsen</p></blockquote>
                                </div>
                            </div>
                        {% else %}

                            <div class="col-lg-12 text-center">
                                <h3>Do you feel the tension??</h3>
                                <br>
                                <br>

                                <h3>Refresh to stay up to date!</h3>
                                <br>
                                <br>

                            </div>
                        {% endif %}

                    {% else %}
                        <h1>&#9785</h1>
                        <h3>No Results Have been recorded so far... Reload! You never know what happens!</h3>
                    {% endif %}
                </div>


            </div>
        </div>
    </section>

{% endif %}



<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>

                    <p>4 Eleftherias Street<br>Kato Deftera 2450, Nicosia, Cyprus</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/rafael.constantinou" class="btn-social btn-outline"><i
                                    class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/100485244987895515082/posts"
                               class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/rconst04" class="btn-social btn-outline"><i
                                    class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/pub/rafael-constantinou/a4/484/246"
                               class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>

                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About Chess Tournament</h3>

                    <p>This is a test page for the Python Developer Job Position</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Chess Tournament 2015
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- jQuery -->
<script src="{% static "js/jquery.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.js" %}"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{% static "js/classie.js" %}"></script>
<script src="{% static "js/cbpAnimatedHeader.js" %}"></script>
<script src="{% static "js/bootstrap-filestyle.js" %}"></script>
<script src="{% static "js/bootstrap-filestyle.min.js" %}"></script>
<!-- Contact Form JavaScript -->
{#<script src="{% static "js/jqBootstrapValidation.js" %}"></script>#}
{#<script src="{% static "js/contact_me.js" %}"></script>#}

<!-- Custom Theme JavaScript -->
<script src="{% static "js/freelancer.js" %}"></script>
<script src="{% static "js/chess_tournament.js" %}"></script>
<script src="{% static "js/utils.js" %}"></script>
<script src="{% static "js/enter_participants.js" %}"></script>
<script src="{% static "js/round_first.js" %}"></script>
<script src="{% static "js/round_second.js" %}"></script>


</body>

</html>